@charset "UTF-8";
.page-header .cart-account a {
    text-decoration: none;
    color: #000000;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.page-header .logo img {
    width: 100%;
}
.page-header .page-sub-header {
    width: 100%;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

	
.gallery-item .gallery-item-1 figure img a:hover{
    width: 100%;	
}
body {
    background-color: #DDDDDD;
}
figure a img {
    width: 100%;
}
.flip-card-inner .flp-card-front img {
    width: 100%;
    float: right;
}

.page-header .social-media-links a {
    color: #000000;
    text-decoration: none;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    float: left;
}
.page-footer .footer-nav a {
    text-align: center;
    width: 100%;
}
.page-header .page-sub-header a {
    color: #000000;
    text-align: center;
    text-decoration: none;
}
.logo .flip-card .flip-card-inner {
	position: relative;
	width: 300px;
	height: 300px;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,1)
	
}
.flip-card-inner{
	position: relative;
	width: 300px;
	height: 300px;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px rgba(0,0,0,1)
	
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg)
	
}

.page-header .page-sub-header a:hover {
	color: #234300	
		
	
}

.page-footer .copywright {
    text-align: center;
    color: #000000;
}
.page-footer .address {
    text-align: center;
}
