@charset "UTF-8";
main nav a {
    box-sizing: border-box;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    display: block;
    width: 20%;
    float: left;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #404040;
    outline: dotted;
    font-size: 15px;
    text-align: center;
}
.work-list .work-list-1 h5 {
    font-size: medium;
}
.work-list .work-list-1 h4 {
    font-size: 20px;
}
.grid-are.name h2 {
    color: #007993;
}
.grid-are.name h1 {
    display: block;
    color: #000000;
    font-size: 45px;
}
#skill .grid-area p {
    text-align: center;
    font-size: x-small;
}
.responsive.resume h2 {
    color: #027893;
}
#education h3 {
    background-color: #13819A;
    color: #FFFFFF;
}
.grid-area p a {
    text-decoration: none;
    color: #13819A;
}
#education h3 {
    font-size: 30px;
}
.grid-area.photo img {
    border-radius: 50%;
    display: block;
    float: right;
    width: 100%;
    max-width: 400px;
    -moz-border-radius: 50%;
    background-color: #000000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#work h3 {
    width: 100%;
    font-size: 30px;
    float: left;
    background-color: #027893;
    color: #FFFFFF;
}
#work h4 {
}
#work div {
    color: #027893;
}
#work div two {
    color: #027893;
}
#about p {
    padding: 10px;
}
#education div {
    color: #027893;
}
#education div two {
    color: #027893;
}
#education #skill div {
    color: #027893;
}
#education #skill div {
    color: #027893;
}
#skill .grid-are.references div {
    color: #027893;
}
#skill .grid-are.references div {
    color: #027893;
}
